
<ul class="nav flex-column">
    {% for opening in openings %}
        {% if opening.amOpening == null %}
            <li class="nav-item mb-2">{{opening.day}} : Fermé / {{opening.pmOpening}}h -  {{opening.pmClosing}}h</li>
        {% elseif opening.pmOpening == null %}
            <li class="nav-item mb-2">{{opening.day}} : {{opening.amOpening}}h -  {{opening.amClosing}}h / Fermé</li>
            {% elseif opening.amOpening == null and opening. pmOpening == null %}
                <li class="nav-item mb-2">Fermé</li>
            {% else %}
                <li class="nav-item mb-2">{{opening.day}} : {{opening.amOpening}}h -  {{opening.amClosing}}h / {{opening.pmOpening}}h -  {{opening.pmClosing}}h</li>
        {% endif %}
    {% endfor %}
</ul>


