
<ul class="nav flex-column">
    {% for opening in openings %}
        {% if opening.amOpening == 'Fermé' and opening.pmOpening == 'Fermé'  %}
            <li class="nav-item mb-2">{{opening.day|title}} : Fermé</li>
        {% elseif opening.pmOpening == 'Fermé' or opening.pmClosing == 'Fermé' %}
            <li class="nav-item mb-2">{{opening.day|title}} : {{opening.amOpening}}h -  {{opening.amClosing}}h / Fermé</li>
        {% elseif opening.amOpening == 'Fermé' or opening.amClosing == 'Fermé' %}
            <li class="nav-item mb-2">{{opening.day|title}} : Fermé / {{opening.pmOpening}}h -  {{opening.pmClosing}}h</li>
        {% else %}
            <li class="nav-item mb-2">{{opening.day|title}} : {{opening.amOpening}}h -  {{opening.amClosing}}h / {{opening.pmOpening}}h -  {{opening.pmClosing}}h</li>
        {% endif %}
    {% endfor %}
</ul>


