{% extends 'base.html.twig' %}

{% block title %}Garage V. PARROT - Nouvel Employé{% endblock %}

{% block body %}
<section class="container d-flex justify-content-center">
    <div class="row">
        <div class="col-8">
            <h1>Nouvel employé</h1>

            {{ form_errors(registrationForm) }}

            {{ form_start(registrationForm) }}
                <fieldset class="mb-3">
                    <legend class="text-primary">Identité</legend>
                    {{ form_row(registrationForm.lastname) }}
                    {{ form_row(registrationForm.firstname) }}
                    {{ form_row(registrationForm.company) }}
                </fieldset>

                <fieldset class="mb-3">
                    <legend class="text-primary">Coordonnées</legend>
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.telephone) }}
                    {{ form_row(registrationForm.plainPassword, {
                    label: 'Choisissez un mot de passe'
                    }) }}
                </fieldset>
                
                
                {{ form_row(registrationForm.RGPDConsent) }}

                <button type="submit" class="btn btn-dark btn-lg my-3">Créer l'employé</button>
                <a href="{{ path('admin_user_index') }}" class="btn btn-dark btn-lg my-3">Retour à la liste</a>
            {{ form_end(registrationForm) }}
        </div>
    </div>
</section>

{% endblock %}
