{% extends 'base.html.twig' %}

{% block title %}Garage V. PARROT - Inscription{% endblock %}

{% block body %}
<section class="container">
    <div class="row">
        <div class="col">
            <h1>Inscription</h1>

            {{ form_errors(registrationForm) }}

            {{ form_start(registrationForm) }}
                <fieldset class="mb-3">
                    <legend>Mon identité</legend>
                    {{ form_row(registrationForm.lastname) }}
                    {{ form_row(registrationForm.firstname) }}
                    {{ form_row(registrationForm.company) }}
                </fieldset>

                <fieldset class="mb-3">
                    <legend>Mes coordonnées</legend>
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.telephone) }}
                    {{ form_row(registrationForm.plainPassword, {
                    label: 'Choisissez un mot de passe'
                    }) }}
                </fieldset>
                
                
                {{ form_row(registrationForm.RGPDConsent) }}

                <button type="submit" class="btn btn-primary btn-lg my-3">M'inscrire</button>
            {{ form_end(registrationForm) }}
                <a href="{{ path('admin_user_index') }}" class="btn btn-secondary btn-lg my-3">Retour à la liste</a>
        </div>
    </div>
</section>

{% endblock %}
