{% extends 'base.html.twig' %}

{% block title %}Garage V. PARROT - Nouveau Service{% endblock %}

{% block body %}
<div class="container d-flex justify-content-center">
    <h1 class="my-5">Créer un service </h1>
</div>
<div class="container d-flex justify-content-center">
    <div class="col-8">
        {{ form_errors(form) }}

        {{ form_start(form) }}
                {{ include('service/_form.html.twig', {'button_label': 'Créer le service'}) }}
                <a href="{{ path('app_service_index') }}" class="btn btn-dark my-3">Retour à la liste</a>        {{ form_end(form) }}
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
