{% extends 'base.html.twig' %}

{% block title %}Garage V. PARROT - Modification Horaires{% endblock %}

{% block body %}
<div class="container d-flex justify-content-center">
    <h1 class="my-5">Modifier les horaires</h1>
    
</div>
<div class="container d-flex justify-content-center">
    <div class="col-3">
    <a href="{{ path('app_opening_index') }}" class="btn btn-outline-secondary my-3">Retour à la liste</a>
        {{ form_errors(form) }}

        {{ form_start(form) }}

            {{ include('opening/_form.html.twig', {'button_label': 'Modifier'}) }}
            {{ include('opening/_delete_form.html.twig') }}
        
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
