{% extends 'base.html.twig' %}

{% block title %}Opening{% endblock %}

{% block body %}
    <h1>Opening</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ opening.id }}</td>
            </tr>
            <tr>
                <th>Day</th>
                <td>{{ opening.day }}</td>
            </tr>
            <tr>
                <th>Am_opening</th>
                <td>{{ opening.amOpening }}</td>
            </tr>
            <tr>
                <th>Am_closing</th>
                <td>{{ opening.amClosing }}</td>
            </tr>
            <tr>
                <th>Pm_opening</th>
                <td>{{ opening.pmOpening }}</td>
            </tr>
            <tr>
                <th>Pm_closing</th>
                <td>{{ opening.pmClosing }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_opening_index') }}">back to list</a>

    <a href="{{ path('app_opening_edit', {'id': opening.id}) }}">edit</a>

    {{ include('opening/_delete_form.html.twig') }}
{% endblock %}
