{% extends 'base.html.twig' %}

{% block title %}Garage V. PARROT - Accueil {% endblock %}

{% block body %}
    <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{{ asset('images/photo_mécanicien.jpg') }}" class="d-block h-25 w-100" alt="photo mécanicien">
                    </div>
                    <div class="carousel-item">
                        <img src="{{ asset('images/photo_voiture.jpg') }}" class="d-block w-100" alt="photo voiture">
                    </div>
                    <div class="carousel-item">
                        <img src="{{ asset('images/photo_mclaren.jpg') }}" class="d-block w-100" alt="photo mclaren">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Précédent</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Suivant</span>
                </button>
            </div>
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Bienvenue au Garage V. Parrot</h1>
            <p class="lead">Installé à Toulouse depuis 2021, notre garage est à votre service dans nos nombreux domaines d'expertise</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a href="{{ path('occasions_list') }}" class="btn btn-outline-primary btn-lg px-4 me-md-2">Voir nos véhicules d'occasion</a>
            </div>
            <h4 class="mt-5">Toute une gamme de services professionnels</h4>
            <ul>
            {% for service in services %}
            <div class="d-flex my-2">
                <i class="fa-solid fa-screwdriver-wrench" style="color: #d92332;"></i>
                <li class="ps-4"> {{service.title|title}} </li>
            </div>
            {% endfor %}
            </ul>
        </div>
    </div>
    </div>
{% endblock %}
