
<div class="col-md-2 col">
    <div class="d-flex flex-column flex-shrink-0 p-1 border rounded" style="width: 9em;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <span class="fs-4 hidden">Tableau <br> de bord</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column m-auto">
        <li class="nav-item">
        <a href="{{ path('admin_user_index') }}" class="nav-link link-body-emphasis">
            <i class="fa-regular fa-user me-2" style="color: #d92332;"></i>
            <span class="hidden">Employés</span>
        </a>
        </li>
        <li>
        <a href="{{ path('app_company_index') }}" class="nav-link link-body-emphasis">
            <i class="fa-regular fa-building me-2" style="color: #d92332;"></i>
            <span class="hidden">Sociétés</span>
        </a>
        </li>
        <li>
        <a href="{{ path('app_opening_index') }}" class="nav-link link-body-emphasis">
            <i class="fa-regular fa-clock me-2" style="color: #d92332;"></i>
            <span class="hidden">Horaires</span>
        </a>
        </li>
        <li>
        <a href="{{ path('app_service_index') }}" class="nav-link link-body-emphasis">
            <i class="fa-solid fa-screwdriver-wrench me-2" style="color: #d92332;"></i>
            <span class="hidden">Services</span>
        </a>
        </li>
    <hr>
    <li>
        <a href="{{ path('app_review_index') }}" class="nav-link link-body-emphasis">
            <i class="fa-regular fa-star me-2" style="color: #d92332;"></i>
            <span class="hidden">Avis</span>
        </a>
        </li>
        <li>
        <a href="{{ path('app_car_index') }}" class="nav-link link-body-emphasis">
            <i class="fa-solid fa-car me-2" style="color: #d92332;"></i>
            <span class="hidden">Annonces</span>
        </a>
        </li>
    </ul>
    <hr>
    <div class="dropdown">
        <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa-solid fa-right-from-bracket" style="color: #d92332;"></i>
        </a>
        <ul class="dropdown-menu text-small shadow">
        <li><a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a></li>
        </ul>
    </div>
    </div>
</div>




