{% extends 'base.html.twig' %}

{% block title %}Garage V. PARROT - Nouvel Avis{% endblock %}

{% block body %}
<div class="container d-flex justify-content-center">
    <h1 class="my-5">Créer un avis </h1>
</div>
<div class="container d-flex justify-content-center">
    <div class="col-8">
        {{ form_errors(form) }}

        {{ form_start(form) }}
                {{ include('review/_form.html.twig', {'button_label': 'Créer l\'avis'}) }}
                {% if app.user %}
                <a href="{{ path('app_review_index') }}" class="btn btn-dark mb-3">Retour à la liste</a>     
                {% endif %}
                
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}


