
<div class="card m-3 col-4 text-center" style="width: 18rem;">
    <img src="{{ asset('images/offers/VOLVO XC60 II phase 2.jpg') }}" class="card-img-top" alt="photo voiture">
        

    <div class="card-body">
        <h5 class="card-title fw-bold">{{car.title}}</h5>
        <p class="card-title fw-bold fs-5 text-primary">{{car.price | number_format(0, ',', ' ')}} €</p>
        <p class="card-text text-muted fw-bold">{{car.year}}</p>
        <p class="card-text text-muted fw-bold">{{car.mileage | number_format(0, ',', ' ')}} km</p>
        <a href="{{ path('occasions_details', {'slug': car.slug}) }}" class="btn btn-primary">Détails</a>
    </div>
</div>
