{% extends 'base.html.twig' %}

{% block title %}Car index{% endblock %}

{% block body %}
    <h1>Car index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Year</th>
                <th>Mileage</th>
                <th>Price</th>
                <th>Created_at</th>
                {# <th>Slug</th> #}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for car in cars %}
            <tr>
                <td>{{ car.id }}</td>
                <td>{{ car.title }}</td>
                <td>{{ car.year }}</td>
                <td>{{ car.mileage }}</td>
                <td>{{ car.price }}</td>
                <td>{{ car.createdAt ? car.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                {# <td>{{ car.slug }}</td> #}
                <td>
                    <a href="{{ path('app_car_show', {'slug': car.slug}) }}">show</a>
                    <a href="{{ path('app_car_edit', {'slug': car.slug}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_car_new') }}">Create new</a>
{% endblock %}
