{% extends 'base.html.twig' %}

{% block title %}Garage V. PARROT - Annonces voitures{% endblock %}

{% block body %}
<div class="container">
    <h1>Liste des {{ cars.getTotalItemCount }} annonces de voitures</h1>

    <a href="{{ path('app_car_new') }}" class="btn btn-outline-secondary">Ajouter une nouvelle annonce</a>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Image</th>
                <th>Année</th>
                <th>Kilométrage</th>
                <th>Prix</th>
                <th>Date de création</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for car in cars %}
            <tr>
                <td>{{ car.id }}</td>
                <td>{{ car.title }}</td>
                <td>{{ car.image }}</td>
                <td>{{ car.year }}</td>
                <td>{{car.mileage | number_format(0, ',', ' ')}} km</td>
                <td>{{car.price | number_format(0, ',', ' ')}} €</td>
                <td>{{ car.createdAt ? car.createdAt|date('d/m/Y') : '' }}</td>
                {# <td>{{ car.slug }}</td> #}
                <td>
                    <a href="{{ path('app_car_edit', {'slug': car.slug}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Il n'y a aucune annonce actuellement</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation d-flex justify-content-center">
    {{ knp_pagination_render(cars) }}
    </div>
</div>
{% endblock %}
