{% extends 'base.html.twig' %}

{% block title %}Garage V. PARROT - Nouvelle Société{% endblock %}

{% block body %}
<div class="container d-flex justify-content-center">
    <h1 class="my-5">Créer une société </h1>
</div>
<div class="container d-flex justify-content-center">
    <div class="col-8">
        {{ form_errors(form) }}

        {{ form_start(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.email) }}
            {{ form_row(form.telephone) }}
            {{ form_row(form.address) }}
            {{ form_row(form.zipcode) }}
            {{ form_row(form.city) }}

            <button type="submit" class="btn btn-primary my-3">Créer la société</button>
        
            <a href="{{ path('app_company_index') }}" class="btn btn-dark my-3">Retour à la liste</a>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
